/*
COLOR PALETTE
#F5F5DC - off white
#FE2B2B - red
#F9F115 - yellow
#0291FE - blue
#030D15 - black
*/

/* Background colours
------------------------------------*/

body {
    margin: 100px;
    background-color: #F5F5DC
}

/* setting grid
------------------------------------*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
  border: 6px solid black;
}

/* Defining box sizes
------------------------------------*/
.box {

    border: 20px;
    border-color: solid black;
}

.size1 {
  grid-column: 2 / span 4;
  grid-row: 2 / span 4;
  border: 3px solid black;

}

.size2 {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  border: 3px solid black;
}

.size3 {
  grid-column: auto / span 1;
  grid-row: auto / span 2;
  border: 3px solid black;
}

.size4 {
  grid-column: auto / span 1;
  grid-row: auto / span 2;
  border: 3px solid black;
}

.size5 {
  grid-column: auto / span 1;
  grid-row: auto / span 2;
  border: 3px solid black;
}

.size6 {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  border: 3px solid black;
}

/* Defining colours
------------------------------------*/
.white {
    background-color: #F5F5DC;
}

.red {
    background-color: #FE2B2B;
}

.yellow {
    background-color: #F9F115;
}

.blue {
    background-color: #0291FE;
}

.black {
    background-color: #030D15;
}
